/**
    Prevent adjustments of font size after orientation changes in IE and iOS.
 */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/**
    Remove the margin in all browsers
 */
body {
  margin: 0;
  background: url("../images/base/background.png") no-repeat center top;
  background-size: cover;
  font-family: "Source Sans Pro", sans-serif;
  color: #fff;
}

@media screen and (max-width: 767px) {
  body {
    background: url("../images/base/mobile-background.png") no-repeat center top;
    background-size: cover;
  }
}

/**
    Fix box-sizing
 */
* {
  box-sizing: border-box;
}

*:after, *:before {
  box-sizing: border-box;
}

/**
    Add the correct display in IE 9-.
 */
article, figcaption, figure, footer, header, main, nav, section {
  display: block;
}

/**
    Remove the gray background on active links in IE 10.
    Remove gaps in links underline in iOS 8+ and Safari 8+.

 */
a {
  text-decoration: none;
  -webkit-text-decoration-skip: objects;
  background-color: transparent;
}

/**
    Remove the outline on focused links when they are also active or hovered in all browsers
 */
a:active, a:hover {
  outline-width: 0;
}

/**
    Remove the border on images inside links in IE 10-. + Responsive + Invisible margin-bottom fix
*/
img {
  border-style: none;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

/**
    Remove margin, padding, set font-weight to normal
*/
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

/**
    Remove margin, padding, set font-weight to normal
*/
ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/**
    Remove IOS box-shadow and border-radius
*/
input {
  box-shadow: none;
  border-radius: 0;
}

/**
    Remove the margin in Firefox and Safari.
*/
button, input, select, textarea {
  margin: 0;
}

/**
    Show the overflow in Edge.
*/
button, input {
  overflow: visible;
}

/**
    Correct the inability to style clickable types in iOS and Safari.
*/
button, [type="submit"] {
  -webkit-appearance: button;
}

/**
    Remove the inner border and padding in Firefox.
*/
button::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
    Correct the inability to style clickable types in iOS and Safari.
    Change font properties to `inherit` in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

/**
    Add the correct box sizing in IE 10-.
    Remove the padding in IE 10-.
*/
[type="checkbox"], [type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/**
    Correct the text style of placeholders in Chrome, Edge, and Safari.
*/
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

/**
    Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/**
    Remove the inheritance of text transform in Edge, Firefox, and IE.
*/
button, select {
  text-transform: none;
}

/**
    Responsive table
*/
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**
    Responsive table td padding fix
*/
td {
  padding: 0;
}

/**
    Clear fix
*/
.clear:before, .container:before, #index section .imei:before, #index section .imei .form-control:before, .clear:after, .container:after, #index section .imei:after, #index section .imei .form-control:after {
  content: " ";
  display: table;
}

.clear:after, .container:after, #index section .imei:after, #index section .imei .form-control:after {
  clear: both;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
}

@media (min-width: 768px) {
  .container {
    width: 744px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 860px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 860px;
    padding-left: 60px;
    padding-right: 60px;
  }
}

.browserupgrade {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  background: #fff;
  z-index: 9999;
  padding: 10px;
}

.browserupgrade a {
  text-decoration: underline;
  color: lightblue;
}

header {
  padding: 39px 0 22px 0;
}

header a {
  display: block;
}

header a.sony {
  width: 141px;
  height: 25px;
  background: url("../images/header/sony-logo.png") no-repeat center;
  float: left;
}

header a.xperiax {
  width: 190px;
  height: 25px;
  background: url("../images/header/xperia-x-logo.png") no-repeat center;
  float: right;
}

footer {
  margin-top: 123px;
}

footer .join {
  height: 78px;
  background-color: #2fa5ff;
}

footer .join p {
  float: left;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.010em;
  line-height: 3.25;
}

footer .join .fb-like {
  float: right;
  margin: 29px 0;
}

footer section {
  height: 163px;
  background-color: #272727;
}

footer section p {
  background: url("../images/footer/mail.png") no-repeat center left;
  line-height: 1.28;
  font-size: 14px;
  letter-spacing: 0.010em;
  font-weight: 600;
  padding: 65px 0 64px 60px;
}

footer section p a {
  color: #fff;
  text-decoration: underline;
}

#index {
  min-height: 1970px;
  width: 860px;
  max-width: 100%;
  margin: 0 auto;
  background: url("../images/index/x-background.png") no-repeat center;
  background-size: contain;
}

#index header {
  padding: 0;
}

#index header h1 {
  font-size: 52px;
  letter-spacing: 0.010em;
  font-weight: 600;
  text-align: center;
  padding-top: 131px;
  position: relative;
}

#index header h1:after {
  background-color: #9f4891;
  height: 1px;
  content: " ";
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -45px;
}

#index .i-button {
  top: 134px;
  left: 0;
  display: block;
  width: 60px;
  height: 60px;
  background: url("../images/index/i-button.png") no-repeat center;
  position: absolute;
}

#index section .hidden {
  position: absolute;
  left: -9999px;
  top: -9999px;
}

#index section .choose-again {
  text-align: center;
  font-weight: 600;
  font-size: 22px;
  line-height: 1.27;
  padding: 90px 120px 35px 120px;
}

#index section .caret {
  width: 53px;
  height: 18px;
  background: url("../images/index/caret.png") no-repeat center;
  margin: 0 auto;
}

#index section .imei {
  border-top: 1px solid #9f4891;
  border-bottom: 1px solid #9f4891;
  margin-top: 20px;
  padding: 8px 0 53px 0;
}

#index section .imei .form-control {
  margin-top: 28px;
}

#index section .imei .form-control .left, #index section .imei .form-control .right {
  width: 50%;
  float: left;
}

#index section .imei .form-control .left {
  font-size: 22px;
  line-height: 1.18;
  letter-spacing: 0.010em;
  font-weight: 600;
}

#index section .imei .form-control .right [type="text"] {
  border-radius: 2px;
  background-color: #fff;
  display: block;
  height: 47px;
  padding: 0 52px 0 10px;
  width: 100%;
  border: 0;
}

#index section .imei .form-control .right span {
  font-size: 14px;
  display: block;
  padding-top: 7px;
  letter-spacing: 0.010em;
}

#index section .imei .form-control .right span sup {
  font-size: 6px;
}

#index section .imei .form-control .right .input-help {
  position: relative;
}

#index section .imei .form-control .right .input-help .i-help {
  display: block;
  position: absolute;
  right: 10px;
  top: 8px;
  width: 32px;
  height: 32px;
  background: url("../images/index/help.png") no-repeat center;
}

#index section .imei .submit {
  border-top: 1px solid #9f4891;
  padding-top: 38px;
  margin-top: 23px;
}

#index section .imei .submit .left, #index section .imei .submit .right {
  width: 50%;
  float: left;
}

#index section .imei .submit .left {
  font-size: 22px;
  line-height: 1.27;
  font-weight: 600;
  letter-spacing: 0.010em;
  padding-top: 4px;
}

#index section .imei .submit .right label {
  display: block;
  width: 220px;
  height: 60px;
  border-radius: 2px;
  background-color: #9f4891;
  text-align: center;
  font-weight: 600;
  font-size: 22px;
  letter-spacing: 0.010em;
  line-height: 60px;
  cursor: pointer;
  float: right;
}

#index section .imei .submit .right .i-upload {
  display: block;
  width: 32px;
  height: 32px;
  background: url("../images/index/help.png") no-repeat center;
  float: right;
  margin: 15px 16px 15px 16px;
}

#index h2 {
  font-size: 22px;
  letter-spacing: 0.010em;
  font-weight: 600;
}

/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */
