.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;

    @extend .clear;
}

@media (min-width: 768px) {
    .container {
        width: 744px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 860px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 860px;
        padding-left: 60px;
        padding-right: 60px;
    }
}

.browserupgrade {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background: #fff;
    z-index: 9999;
    padding: 10px;

    a {
        text-decoration: underline;
        color: lightblue;
    }
}